name: Scala CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Java ${{matrix.java}}
    strategy:
      matrix:
        java: ['temurin:1.11', 'temurin:1.17', 'temurin:1.21']
    steps:
    - uses: actions/checkout@v4
    - name: Setup Scala and Java
      uses: coursier/setup-action@v1
      with:
        jvm: ${{matrix.java}}
    - name: Start Postgres
      run: sh ./scripts/launch-postgres.sh
    - name: Run tests
      run: sbt +test
